body{
    background-color: lightblue;
}
.divCointer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    gap:10px;
}
button{
    height:50px;
    width: 50px;
    background-color: rgb(83, 83, 224);
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}
